
body {

    background: #ff7f5012;
   
}

/*ABOUT ME*/
.about-me {
    .btn {
        background: linear-gradient(#2d2828, #820b0b);
        color: var(--bs-white);
        border-color: rgb(115, 16, 25);
        font-family: 'Libre Baskerville',
        serif;
        font-size: 1.25rem;
        color: #ffffff;
        transition: all ease-in-out 400ms;
        &:hover {
        border:1px solid #820b0b;
        background: #ff7f5012;
        color:#212121;
        }

    }
}

/*PORTFOLIO BLOCK----CALL TO ACTION*/

.portfolio-block {
    .btn {
        background: linear-gradient(#2d2828, #820b0b);
        color: var(--bs-white);
        border-color: rgb(115, 16, 25);
        font-family: 'Libre Baskerville',
        serif;
        font-size: 1.25rem;
        color: #ffffff;
        transition: all ease-in-out 400ms;
        box-shadow: rgb(115, 16, 25);
        &:hover:focus {
            border: 1px solid #820b0b;
            background: #ff7f5012;
            color: #212121;
        }
        


    }
}


  
